@import "reset";
@import"globals";


.header{
    background-color: #788882;
    background-size: cover;
    max-width: 100%;
    max-height: 680px;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-bottom: 320px;
    &__inner{
        display: flex;
        flex-direction: column;
        color: #fff;
    }

    &__title{
        max-width: 380px;
        margin-bottom: 70px;
    }

    &__text{
        max-width: 400px;
        margin-bottom: 60px;
        font-weight: 300;
        font-size: 24px;
    }

    &__btns .btn{
        margin-right: 15px;
    }
    &__img{
        position: absolute;
        right: 0;
    }
}

.nav{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    &__list{
        margin-right: 70px;
        align-items: center;
        display: flex;
        justify-content: center;
        color: #fff;
        &-item{
            font-size: 24px;
            line-height: 28px;
            margin: 0 25px;
            color: #fff;
            &:hover{
                text-decoration: underline solid 2px #fff ;
            }
        }
        &-item a{
            color: #fff;
        }
    }
    &__icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 115px;
    }
    &__icon
    {
        padding: 5px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        border-radius: 50%;
        &:hover{
            background-color: #48534F;
        }
        height: 40px;
        min-width: 40px;
        
    }
    &__img:nth-child(2n){
        width: 20px;
        height: 20px;
    }
}

.btn{
    min-width: 105px;
    height: 50px;
    padding: 8px 10px;
    background-color: #48534F;
    border: none;
    border-radius: 30px;
    &:hover{
        text-decoration: none ;
    }
    color: #fff;
    font-family: Yanone Kaffeesatz;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
}

.logo{
    margin-right: 480px;
    
}

.btn-light{
    min-width: 105px;
    height: 50px;
    padding: 8px 10px;
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 30px;
    &:hover{
        text-decoration: none ;
    }
    color: #fff;
    font-family: Yanone Kaffeesatz;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
}

.benefits{
    margin-bottom: 150px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        max-width: 270px;
        display: flex;
        flex-direction: column;
        &__title{
            font-size: 48px;
            line-height: 57px;
            color: #343633;
            margin-bottom: 40px;
        }
        &__text{
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;  
            color: #8E8888;
            margin-bottom: 90px;
        }
        & a{
            margin-left: 30px;
        }
        &__btn{
            display: flex;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: none;
            background-color: #48534F;
            cursor: pointer;
            align-items: center;
            text-align: center;
            justify-content: center;
            
            
        }
    }

    &__content{
        display: flex;
        justify-content: space-between;
        &__card{
            display: flex;
            flex-direction: column;
            padding: 16px 5px 50px 5px;
            max-width: 300px;
            margin: 0 7px;
            &:hover{
                background-color: #F3F2EE;
            }
            transition: 0.1s;
            &-img{
                max-width: 270px;
                margin-bottom: 30px;
                
            }
            &-text{
                margin: auto;
                max-width: 148px;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 30px;
                color: #343633;
                text-align: center;
                
            }
            &-price{
                margin: auto;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
                color: #343633;
                text-align: center;
            }
            text-align: center;
            
        }
    }
}
.autumn{
    margin-bottom: 150px;
}
.autumn__inner{
    display: flex;
    justify-content: center;
    background-color: #788882;
    &-img{
        width: 800px;
        max-height: 422px;
    }
    &__content{
        color: #fff;
        max-width: 400px;
        max-height: 422px;
        padding: 30px;
        background-color: #788882;
        &-title{
            margin-bottom: 30px;
        }
        &-text{
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
}

.footer{
    
    background-color: #F5F3F0;
    margin: 0 0;
    padding: 20px 0 20px;
    & a{
        color: #3C403D;
    }
    &__logo{
        color: #3C403D;
        margin-right: 100px;
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;        
        letter-spacing: 0.025em;
        margin-bottom: 80px;

    }
    &__contact{
        display: flex;
        flex-direction:row;
        align-items: center;
        text-align: left;
        position: relative;
        &-title{
            margin-bottom: 25px;
            font-size: 24px;
            line-height: 28px;
            margin-right: 50px;
        }
        &__item{
            margin-right: 30px;
            margin-bottom: 15px;
            display: flex;
            left: 0;
            text-align: left;
            &-img{
                max-width: 24px;
                margin-right: 15px;
                text-align: left;
            }
            &-text{
                text-align: left;
                font-size: 18px;
                line-height: 21px;
                color: #3C403D;
            }
        }
    }
}
